apiVersion: v1
kind: Secret
metadata:
  name: vault-token
type: Opaque
stringData:
  # Dev token for Vault (do not commit real tokens)
  token: "REPLACE_ME"
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "http://vault:8200"
      path: "secret"
      version: "v2"
      auth:
        tokenSecretRef:
          name: "vault-token"
          key: "token"
