apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  labels:
    app: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
      - name: vault
        image: hashicorp/vault:1.13
        ports:
        - containerPort: 8200
        env:
        - name: 'VAULT_DEV_ROOT_TOKEN_ID'
          # Dev token for Vault (do not commit real tokens)
          value: 'REPLACE_ME'
        - name: 'VAULT_DEV_LISTEN_ADDRESS'
          value: '0.0.0.0:8200'
---
apiVersion: v1
kind: Service
metadata:
  name: vault
spec:
  selector:
    app: vault
  ports:
  - port: 8200
    targetPort: 8200
